<!-- *** HEADER / NAVBAR ***-->
<header
	class="site-header white">
	<!-- - - -  - -  - - - - - - Barre de navigation - - - - -  - - - - - - - - - - -->
	<div class="header-menu">
		<nav class="navigation" role="navigation">
			<ul>
				<div>
					<li>
						<a href="{{path('home')}}">Accueil</a>
					</li>
					<li>
						<a href="">A Propos</a>
						<ul class="sub-menu">
							<li>
								<a href="{{path('pages_about')}}">Qui Sommes-nous ?</a>
							</li>
							<li>
								<a href="{{path('pages_equipe_afrique')}}">Nos antennes</a>
							</li>
							<li>
								<a href="">Contact</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="">Actions</a>
						<ul class="sub-menu">
							<li>
								<a href="">Actualités</a>
							</li>
							<li>
								<a href="{{path('pages_evenements')}}">Evènements</a>
							</li>
							<li>
								<a href="">Agenda</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="">Incubateur</a>
						<ul class="sub-menu">
							<li>
								<a href="">Programmes</a>
							</li>
							<li>
								<a href="">Incubation</a>
							</li>
							<li>
								<a href="">Acceleration</a>
							</li>
							<li>
								<a href="">Formation</a>
							</li>
						</ul>
					</li>
				</div>
				<div class="logo">
					<li>
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="812.000000pt" height="812.000000pt" viewbox="0 0 812.000000 812.000000" preserveaspectratio="xMidYMid meet">

							<g transform="translate(0.000000,812.000000) scale(0.100000,-0.100000)" fill="#0E2C40" stroke="none">
								<path d="M1450 7926 c-22 -28 -8 -60 32 -73 60 -20 84 -40 114 -98 l29 -54
																																																																																																																																																																																							                        -46 -48 c-158 -164 -272 -461 -238 -623 9 -41 20 -64 49 -92 34 -34 43 -38 88
																																																																																																																																																																																							                        -38 65 0 92 11 136 55 104 104 161 351 137 592 -13 131 -12 134 54 164 49 22
																																																																																																																																																																																							                        116 24 154 4 34 -17 73 -61 90 -102 11 -27 8 -34 -38 -104 -144 -216 -201
																																																																																																																																																																																							                        -499 -117 -578 83 -78 205 2 256 167 39 126 53 320 29 421 -10 44 -10 44 38
																																																																																																																																																																																							                        94 47 48 130 97 166 97 71 0 130 -79 147 -199 20 -140 -22 -355 -95 -488 -19
																																																																																																																																																																																							                        -35 -35 -68 -35 -73 0 -17 32 -40 55 -40 67 0 153 214 176 437 18 179 -15 318
																																																																																																																																																																																							                        -93 388 -51 46 -79 57 -155 57 -71 1 -126 -22 -203 -83 l-48 -38 -21 34 c-23
																																																																																																																																																																																							                        40 -88 89 -138 106 -45 15 -158 7 -198 -13 -56 -29 -73 -31 -80 -9 -11 36 -66
																																																																																																																																																																																							                        96 -113 123 -52 31 -112 37 -132 14z m205 -439 c17 -229 -71 -497 -163 -497
																																																																																																																																																																																							                        -101 0 -66 256 65 472 49 79 76 117 85 118 3 0 9 -42 13 -93z m432 -159 c-7
																																																																																																																																																																																							                        -127 -31 -223 -71 -292 -78 -134 -87 57 -11 249 29 72 73 155 82 155 4 0 3
																																																																																																																																																																																							                        -51 0 -112z"/>
								<path d="M4215 7741 c-98 -24 -135 -73 -135 -178 0 -116 -24 -126 -153 -63
																																																																																																																																																																																							                        -62 31 -101 43 -156 49 -66 7 -76 11 -100 39 -14 18 -32 32 -40 32 -7 0 -45
																																																																																																																																																																																							                        -17 -85 -37 -89 -46 -251 -205 -290 -285 -63 -130 -100 -367 -99 -643 0 -110
																																																																																																																																																																																							                        3 -221 8 -246 5 -30 3 -54 -4 -68 -17 -30 -7 -52 38 -83 21 -15 60 -61 87
																																																																																																																																																																																							                        -103 l49 -76 45 4 c25 3 55 8 68 12 l23 8 -19 -34 c-32 -58 -80 -182 -87 -225
																																																																																																																																																																																							                        -8 -51 7 -109 40 -158 46 -68 33 -86 -120 -168 -96 -51 -121 -76 -98 -99 6 -6
																																																																																																																																																																																							                        90 23 211 71 112 44 207 80 213 80 8 0 9 -20 5 -62 -16 -171 -18 -228 -8 -228
																																																																																																																																																																																							                        5 0 27 50 48 110 37 104 40 110 62 105 38 -9 102 -54 177 -122 70 -65 130
																																																																																																																																																																																							                        -105 175 -118 14 -4 -4 13 -40 38 -125 85 -221 200 -268 317 -31 80 -41 135
																																																																																																																																																																																							                        -42 227 l0 81 63 -14 c34 -8 72 -17 83 -20 18 -5 31 9 77 74 31 44 66 88 79
																																																																																																																																																																																							                        96 31 22 81 20 103 -4 24 -27 80 -43 125 -36 35 5 39 3 64 -33 44 -64 106 -62
																																																																																																																																																																																							                        106 2 0 47 11 57 72 67 31 5 75 18 98 30 49 25 66 21 126 -31 25 -21 54 -39
																																																																																																																																																																																							                        66 -39 32 0 91 -38 115 -73 12 -18 27 -54 33 -82 16 -72 77 -131 162 -156 15
																																																																																																																																																																																							                        -4 30 -4 33 0 2 4 -18 44 -45 89 -61 99 -65 124 -14 88 11 -8 57 -24 101 -35
																																																																																																																																																																																							                        97 -25 166 -54 210 -87 43 -33 93 -31 201 7 48 17 95 33 104 36 10 3 30 -10
																																																																																																																																																																																							                        54 -37 43 -48 95 -77 174 -97 117 -31 132 -27 164 36 l18 34 -70 -7 c-43 -4
																																																																																																																																																																																							                        -73 -3 -76 3 -4 5 20 30 53 55 32 25 85 68 117 96 33 27 61 50 64 50 3 0 11
																																																																																																																																																																																							                        -19 17 -43 15 -54 65 -104 159 -158 67 -38 75 -47 85 -83 5 -23 14 -52 18 -66
																																																																																																																																																																																							                        l8 -25 18 28 18 28 56 -53 c31 -29 70 -62 86 -74 l29 -20 -18 -43 -17 -43 59
																																																																																																																																																																																							                        -67 c37 -41 74 -72 97 -80 35 -14 43 -13 99 7 34 12 80 22 104 22 23 0 61 9
																																																																																																																																																																																							                        82 20 29 15 73 23 158 30 92 7 129 14 175 35 104 48 123 19 87 -132 -27 -112
																																																																																																																																																																																							                        -42 -146 -111 -251 -47 -72 -71 -126 -83 -184 -8 -35 -26 -37 -26 -3 0 46 -70
																																																																																																																																																																																							                        71 -329 120 -134 26 -252 97 -382 232 l-67 69 -6 74 c-12 153 -14 140 -11 -85
																																																																																																																																																																																							                        3 -186 8 -249 25 -330 32 -152 85 -308 148 -435 46 -92 62 -116 80 -118 30 -4
																																																																																																																																																																																							                        31 -8 -59 209 -77 186 -104 294 -96 382 3 32 8 61 11 64 3 4 145 -34 316 -83
																																																																																																																																																																																							                        246 -70 310 -92 310 -106 0 -12 -14 -18 -60 -23 -33 -4 -60 -8 -60 -9 0 -1 13
																																																																																																																																																																																							                        -42 30 -90 l29 -88 -90 -93 c-58 -60 -116 -109 -162 -136 -40 -23 -92 -58
																																																																																																																																																																																							                        -117 -78 -78 -61 -208 -203 -246 -269 -21 -35 -50 -74 -65 -86 -34 -29 -164
																																																																																																																																																																																							                        -62 -203 -52 -36 9 -123 90 -147 138 -23 45 -24 67 -4 115 14 32 14 34 -1 22
																																																																																																																																																																																							                        -24 -20 -44 -65 -44 -99 0 -39 42 -124 86 -172 55 -61 61 -120 21 -218 -8 -19
																																																																																																																																																																																							                        -18 -46 -22 -60 l-7 -25 24 23 c14 12 41 56 62 97 31 62 77 115 99 115 11 0
																																																																																																																																																																																							                        -52 -139 -81 -182 -70 -102 -78 -154 -37 -226 32 -57 39 -97 26 -166 -10 -52
																																																																																																																																																																																							                        -8 -62 18 -129 37 -92 69 -147 87 -147 8 0 5 -8 -10 -23 -14 -14 -27 -46 -35
																																																																																																																																																																																							                        -87 -15 -77 -26 -93 -51 -80 -21 11 -44 64 -37 84 14 37 -48 49 -64 12 -15
																																																																																																																																																																																							                        -31 13 -108 49 -136 33 -27 93 -26 117 0 22 24 45 84 45 118 0 36 18 25 30
																																																																																																																																																																																							                        -20 9 -31 9 -47 0 -63 -24 -44 9 -81 49 -56 28 18 16 158 -16 208 -8 12 -23
																																																																																																																																																																																							                        25 -34 28 -11 4 -17 11 -14 16 4 5 -5 24 -19 41 -13 18 -37 66 -54 107 -26 66
																																																																																																																																																																																							                        -28 79 -20 130 12 71 6 111 -27 172 -35 69 -32 93 24 182 27 43 59 105 71 138
																																																																																																																																																																																							                        23 60 47 89 129 151 24 18 61 61 82 95 77 128 226 273 349 340 45 25 100 71
																																																																																																																																																																																							                        178 150 166 168 252 289 252 355 0 13 18 52 39 88 84 139 121 206 126 230 3
																																																																																																																																																																																							                        14 14 58 25 97 25 91 25 130 0 171 -25 41 -63 42 -140 6 -44 -21 -79 -28 -172
																																																																																																																																																																																							                        -35 -85 -6 -128 -14 -157 -29 -22 -11 -58 -20 -79 -20 -21 0 -65 -9 -97 -20
																																																																																																																																																																																							                        -32 -11 -68 -17 -81 -14 -13 3 -47 31 -75 62 -39 43 -49 60 -44 76 20 61 18
																																																																																																																																																																																							                        83 -11 102 -15 11 -73 62 -128 116 -57 54 -135 117 -178 143 -110 66 -132 91
																																																																																																																																																																																							                        -152 172 -27 106 -51 148 -117 199 -85 65 -93 81 -100 199 -7 123 -18 146
																																																																																																																																																																																							                        -114 240 -60 58 -75 79 -80 111 -9 55 -37 114 -106 222 -33 50 -74 121 -90
																																																																																																																																																																																							                        156 l-30 63 26 99 c32 123 41 144 60 144 8 0 15 2 15 6 0 5 -97 161 -110 176
																																																																																																																																																																																							                        -3 4 -23 3 -44 -3 -32 -9 -51 -7 -120 15 -141 44 -152 44 -253 -2 -102 -47
																																																																																																																																																																																							                        -113 -47 -253 7 -50 20 -114 36 -155 40 -48 4 -80 13 -100 28 -18 12 -55 24
																																																																																																																																																																																							                        -90 28 -37 5 -71 16 -90 30 -62 47 -174 67 -260 46z"/>
								<path d="M2853 7439 c-145 -72 -236 -334 -157 -454 21 -33 87 -57 132 -49 47
																																																																																																																																																																																							                        8 95 37 121 72 l20 27 1 -25 c0 -39 27 -70 60 -70 36 0 51 25 44 71 -3 19 1
																																																																																																																																																																																							                        75 10 124 41 233 3 325 -134 325 -36 0 -70 -7 -97 -21z m128 -78 c21 -17 24
																																																																																																																																																																																							                        -28 23 -78 -1 -72 -23 -193 -35 -193 -4 0 -11 5 -14 10 -3 6 -17 10 -31 10
																																																																																																																																																																																							                        -18 0 -31 -10 -45 -35 -39 -65 -83 -73 -105 -18 -37 87 41 270 131 309 40 18
																																																																																																																																																																																							                        49 17 76 -5z"/>
								<path d="M954 6921 c-131 -60 -242 -239 -332 -538 l-37 -122 -60 -30 c-95 -48
																																																																																																																																																																																							                        -168 -120 -212 -209 -37 -73 -38 -80 -38 -181 0 -88 4 -114 22 -153 30 -66 95
																																																																																																																																																																																							                        -132 153 -157 l50 -22 0 -74 c0 -213 56 -385 125 -385 52 0 81 80 51 138 -19
																																																																																																																																																																																							                        38 -35 118 -42 215 l-7 83 62 11 c172 32 283 140 313 303 15 77 4 126 -30 144
																																																																																																																																																																																							                        -49 25 -92 -9 -92 -72 0 -48 -20 -95 -58 -135 -48 -50 -169 -95 -186 -69 -10
																																																																																																																																																																																							                        17 45 437 60 452 3 2 62 6 132 8 136 4 203 -7 302 -49 38 -16 50 -27 50 -43 0
																																																																																																																																																																																							                        -11 -7 -142 -16 -290 -22 -368 -6 -536 61 -638 63 -95 174 -108 263 -33 91 79
																																																																																																																																																																																							                        135 211 134 405 -1 249 -71 434 -223 595 l-68 72 -4 219 c-5 287 -29 395 -107
																																																																																																																																																																																							                        494 -60 76 -175 102 -266 61z m143 -161 c67 -40 92 -133 100 -364 6 -163 5
																																																																																																																																																																																							                        -169 -13 -163 -10 4 -53 18 -94 33 -62 22 -97 28 -207 32 -156 5 -149 -4 -102
																																																																																																																																																																																							                        129 66 188 167 335 236 346 16 2 33 5 38 5 6 1 24 -7 42 -18z m-571 -863 c-9
																																																																																																																																																																																							                        -73 -18 -147 -20 -165 -5 -42 -9 -46 -34 -33 -32 17 -61 64 -68 110 -11 68 12
																																																																																																																																																																																							                        128 74 191 36 36 56 50 59 42 3 -8 -2 -73 -11 -145z m832 6 c16 -21 42 -63 57
																																																																																																																																																																																							                        -93 54 -108 67 -158 72 -293 7 -156 -11 -238 -62 -293 -107 -113 -159 56 -135
																																																																																																																																																																																							                        438 13 213 20 278 30 278 5 0 22 -17 38 -37z"/>
								<path d="M1879 6771 c-23 -18 -23 -21 -9 -53 23 -52 17 -183 -14 -317 -30
																																																																																																																																																																																							                        -127 -28 -158 10 -167 35 -9 60 18 68 71 17 113 88 285 141 341 92 97 126 -23
																																																																																																																																																																																							                        80 -282 -15 -91 -5 -124 40 -124 32 0 41 19 64 137 22 113 63 212 110 266 95
																																																																																																																																																																																							                        108 140 -31 90 -278 -25 -119 -20 -138 35 -133 40 4 50 25 71 157 21 125 16
																																																																																																																																																																																							                        247 -11 306 -23 47 -75 85 -118 85 -49 -1 -112 -35 -138 -74 -26 -41 -34 -44
																																																																																																																																																																																							                        -43 -17 -20 65 -96 102 -162 80 -20 -6 -53 -27 -74 -46 -34 -31 -39 -33 -39
																																																																																																																																																																																							                        -15 0 24 -46 82 -65 82 -7 0 -23 -9 -36 -19z"/>
								<path d="M2864 6766 c-113 -51 -204 -211 -204 -359 0 -75 21 -123 69 -154 59
																																																																																																																																																																																							                        -39 140 -23 196 39 19 21 37 38 40 38 3 0 5 -13 5 -28 0 -39 21 -64 55 -64 38
																																																																																																																																																																																							                        0 54 24 48 71 -3 20 2 79 11 131 29 172 19 257 -38 310 -21 19 -39 25 -89 27
																																																																																																																																																																																							                        -39 2 -74 -2 -93 -11z m114 -92 c18 -13 22 -24 22 -74 0 -55 -19 -199 -27
																																																																																																																																																																																							                        -210 -2 -2 -8 1 -12 8 -4 7 -20 14 -36 15 -23 2 -34 -6 -57 -40 -23 -34 -35
																																																																																																																																																																																							                        -43 -58 -43 -40 0 -53 28 -48 105 5 84 55 185 110 226 46 33 73 36 106 13z"/>
								<path d="M2003 6044 c-106 -52 -163 -205 -163 -437 0 -63 -2 -70 -30 -93 -40
																																																																																																																																																																																							                        -34 -116 -150 -146 -224 -43 -106 -67 -226 -68 -340 0 -93 2 -111 24 -155 34
																																																																																																																																																																																							                        -68 81 -99 138 -91 58 8 97 38 126 94 45 92 57 173 65 457 l6 240 40 12 c22 7
																																																																																																																																																																																							                        63 16 90 20 47 8 50 10 53 40 2 24 -2 34 -19 43 -20 11 -86 8 -146 -7 -22 -5
																																																																																																																																																																																							                        -23 -3 -23 75 0 183 63 308 144 288 30 -7 30 -9 10 -89 -19 -80 86 -71 117 10
																																																																																																																																																																																							                        21 57 -3 133 -52 158 -37 20 -126 19 -166 -1z m-153 -791 c0 -134 -19 -311
																																																																																																																																																																																							                        -40 -384 -20 -69 -71 -89 -98 -39 -18 34 -10 254 13 335 18 66 82 206 99 217
																																																																																																																																																																																							                        6 4 14 8 19 8 4 0 7 -62 7 -137z"/>
								<path d="M2733 5845 c3 -16 9 -53 12 -81 l6 -51 -68 -36 c-37 -20 -77 -43 -88
																																																																																																																																																																																							                        -51 -19 -15 -18 -15 15 -16 19 0 59 -3 88 -6 l52 -7 1 -101 0 -101 49 97 c47
																																																																																																																																																																																							                        92 51 97 77 93 119 -21 210 -35 222 -35 8 0 -30 28 -84 63 -54 34 -100 67
																																																																																																																																																																																							                        -101 72 -2 6 23 28 56 50 32 21 57 41 55 43 -2 2 -43 -1 -91 -7 l-89 -11 -58
																																																																																																																																																																																							                        58 c-57 55 -59 56 -54 27z"/>
								<path d="M5995 5224 c-104 -256 -192 -471 -193 -477 -2 -7 15 8 37 33 66 72
																																																																																																																																																																																							                        366 705 378 800 5 37 -12 110 -25 110 -4 0 -92 -210 -197 -466z"/>
								<path d="M4522 5611 c-29 -29 -65 -80 -84 -118 -29 -62 -33 -78 -36 -178 -3
																																																																																																																																																																																							                        -75 -1 -107 6 -100 6 6 29 74 51 153 39 137 77 228 109 265 8 9 13 20 10 23
																																																																																																																																																																																							                        -3 3 -29 -18 -56 -45z"/>
								<path d="M2437 5544 c-30 -9 -65 -31 -94 -59 -52 -50 -53 -51 -53 -31 0 22
																																																																																																																																																																																							                        -56 76 -78 76 -48 0 -70 -73 -35 -113 27 -29 28 -147 4 -318 -28 -193 -27
																																																																																																																																																																																							                        -214 4 -235 23 -15 27 -15 49 0 26 17 26 15 56 196 44 261 97 354 213 374 67
																																																																																																																																																																																							                        12 78 93 16 115 -18 6 -32 11 -33 10 -1 0 -22 -7 -49 -15z"/>
								<path d="M4651 5375 c-35 -85 -61 -158 -57 -162 13 -13 92 53 114 97 17 34 22
																																																																																																																																																																																							                        60 21 115 -1 125 -9 120 -78 -50z"/>
								<path d="M3125 5251 c-90 -40 -186 -177 -215 -306 -18 -77 -16 -193 4 -240 62
																																																																																																																																																																																							                        -146 253 -167 364 -40 41 46 49 78 28 110 -23 35 -52 31 -89 -11 -61 -69 -134
																																																																																																																																																																																							                        -85 -177 -39 -58 62 -24 263 62 361 61 70 123 83 160 34 29 -39 70 -41 95 -4
																																																																																																																																																																																							                        15 23 15 30 2 67 -20 58 -66 87 -138 87 -32 0 -73 -8 -96 -19z"/>
								<path d="M2717 5237 c-21 -15 -39 -86 -66 -267 -34 -225 -37 -287 -16 -310 10
																																																																																																																																																																																							                        -11 28 -20 41 -20 24 0 54 24 54 43 1 64 53 414 75 499 12 48 -47 86 -88 55z"/>
								<path d="M5287 4950 c-107 -78 -163 -110 -190 -110 -10 0 -30 12 -44 26 -23
																																																																																																																																																																																							                        23 -25 31 -20 85 3 32 4 59 2 59 -1 0 -25 -33 -53 -72 -27 -40 -61 -85 -75
																																																																																																																																																																																							                        -100 -30 -32 -84 -44 -128 -29 -47 16 -117 13 -174 -8 -27 -11 -95 -36 -149
																																																																																																																																																																																							                        -55 -123 -45 -190 -83 -261 -147 -80 -74 -194 -256 -183 -291 7 -19 79 54 111
																																																																																																																																																																																							                        111 42 77 169 201 240 235 40 20 93 34 180 46 67 10 137 24 154 30 28 10 39 9
																																																																																																																																																																																							                        77 -9 50 -24 67 -21 113 22 l32 30 28 -34 c66 -81 132 -144 188 -182 33 -22
																																																																																																																																																																																							                        82 -60 110 -85 27 -24 70 -54 95 -67 45 -23 151 -58 157 -52 1 2 -51 39 -116
																																																																																																																																																																																							                        83 -66 43 -120 81 -120 84 -1 3 16 16 37 29 20 13 69 48 108 78 l72 53 93 -6
																																																																																																																																																																																							                        94 -6 -115 47 c-170 70 -194 100 -150 196 26 58 27 109 1 109 -10 0 -62 -31
																																																																																																																																																																																							                        -114 -70z"/>
								<path d="M3356 4644 c-132 -41 -256 -265 -256 -464 0 -85 14 -133 51 -175 48
																																																																																																																																																																																							                        -54 125 -65 195 -27 25 13 84 78 84 92 0 6 5 10 10 10 6 0 10 -14 10 -31 0
																																																																																																																																																																																							                        -75 62 -117 104 -70 14 15 16 29 11 59 -3 22 2 100 14 185 31 219 26 303 -21
																																																																																																																																																																																							                        370 -39 55 -122 76 -202 51z m95 -117 c25 -19 39 -53 39 -96 0 -43 -29 -263
																																																																																																																																																																																							                        -35 -270 -2 -2 -12 4 -21 13 -29 29 -65 16 -94 -34 -14 -25 -38 -52 -53 -60
																																																																																																																																																																																							                        -25 -14 -28 -13 -48 7 -78 77 18 388 136 439 37 16 56 17 76 1z"/>
								<path d="M3875 4147 c-11 -31 -85 -340 -82 -343 3 -3 48 130 93 273 18 60 20
																																																																																																																																																																																							                        72 8 77 -8 3 -17 0 -19 -7z"/>
								<path d="M4606 3763 c-13 -27 -51 -93 -85 -147 -67 -110 -121 -240 -121 -291
																																																																																																																																																																																							                        0 -18 9 -44 20 -58 11 -14 20 -40 20 -61 0 -33 3 -36 43 -48 26 -7 78 -10 137
																																																																																																																																																																																							                        -8 210 10 281 5 341 -22 63 -29 124 -79 181 -151 38 -49 47 -46 28 10 -8 22
																																																																																																																																																																																							                        -43 52 -134 116 -227 157 -294 182 -426 157 -48 -9 -80 -10 -98 -4 -40 14 -72
																																																																																																																																																																																							                        68 -72 123 0 50 7 63 82 154 59 72 69 91 101 195 28 91 20 107 -17 35z"/>
								<path d="M3781 3774 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
								<path d="M3895 3504 c-11 -3 -60 -19 -109 -36 -86 -30 -91 -33 -195 -137 -58
																																																																																																																																																																																							                        -58 -130 -137 -159 -176 -61 -81 -62 -91 -11 -207 47 -109 39 -157 -50 -273
																																																																																																																																																																																							                        -69 -89 -78 -110 -86 -186 -4 -35 -18 -90 -32 -122 -20 -48 -25 -76 -26 -155
																																																																																																																																																																																							                        -2 -106 1 -114 87 -233 18 -26 52 -93 76 -150 24 -57 61 -129 81 -159 36 -52
																																																																																																																																																																																							                        38 -60 42 -150 3 -53 11 -111 20 -132 8 -20 22 -81 31 -135 9 -54 22 -121 31
																																																																																																																																																																																							                        -149 15 -51 70 -144 85 -144 18 0 90 -114 110 -175 11 -34 37 -89 56 -121 69
																																																																																																																																																																																							                        -115 68 -111 48 -170 -15 -45 -16 -58 -5 -94 13 -43 84 -130 106 -130 21 0 5
																																																																																																																																																																																							                        41 -31 81 -41 47 -50 86 -30 134 24 58 20 80 -33 168 -28 45 -64 120 -82 166
																																																																																																																																																																																							                        -26 69 -44 97 -94 151 -73 78 -96 130 -119 276 -9 56 -23 121 -32 145 -9 24
																																																																																																																																																																																							                        -18 78 -19 119 -1 41 -3 84 -4 95 0 12 -20 50 -44 86 -59 90 -104 198 -87 209
																																																																																																																																																																																							                        7 4 275 7 596 6 l583 -1 15 27 c9 14 32 45 51 68 19 23 35 51 35 63 0 11 13
																																																																																																																																																																																							                        41 29 66 58 93 50 142 -31 186 -50 28 -108 100 -108 136 0 75 -84 95 -276 67
																																																																																																																																																																																							                        -110 -16 -151 -3 -221 67 -55 54 -65 87 -43 140 7 18 9 17 24 -15 18 -42 19
																																																																																																																																																																																							                        -39 16 71 -1 61 3 103 16 144 20 62 20 63 -40 100 -10 7 -23 46 -36 115 -25
																																																																																																																																																																																							                        130 -25 136 0 183 15 27 19 48 14 72 -7 38 -10 36 99 55 55 10 67 16 67 31 0
																																																																																																																																																																																							                        18 -9 19 -127 19 -71 0 -137 2 -148 4 -11 2 -29 2 -40 0z"/>
								<path d="M6115 3469 c-4 -6 -19 -7 -37 -4 -35 8 -48 -5 -48 -47 0 -16 -1 -28
																																																																																																																																																																																							                        -3 -28 -1 0 -49 -16 -106 -35 -63 -22 -112 -33 -126 -29 -19 5 -41 -8 -108
																																																																																																																																																																																							                        -63 -47 -37 -90 -76 -96 -86 -10 -14 -3 -37 35 -122 43 -96 64 -126 64 -92 0
																																																																																																																																																																																							                        8 -9 49 -20 92 -26 103 -26 110 13 138 31 24 274 136 368 171 55 20 77 41 85
																																																																																																																																																																																							                        84 6 31 -7 45 -21 21z"/>
								<path d="M7269 2731 c-16 -16 -29 -39 -29 -50 0 -13 -14 -28 -39 -42 -31 -17
																																																																																																																																																																																							                        -47 -37 -70 -85 -43 -91 -114 -139 -268 -183 -77 -23 -105 -47 -144 -123 -30
																																																																																																																																																																																							                        -59 -34 -125 -14 -226 10 -49 15 -100 12 -114 -4 -13 -29 -55 -57 -93 -29 -40
																																																																																																																																																																																							                        -57 -91 -67 -124 -14 -51 -14 -61 1 -126 9 -38 16 -90 16 -116 0 -67 42 -144
																																																																																																																																																																																							                        99 -181 43 -28 51 -29 121 -25 132 8 209 47 246 126 10 20 30 78 46 130 15 52
																																																																																																																																																																																							                        41 115 57 140 16 25 43 91 61 146 18 55 53 150 78 210 52 127 82 227 82 271 0
																																																																																																																																																																																							                        23 11 42 41 73 38 38 41 45 36 84 -12 104 -30 194 -48 243 -35 94 -103 121
																																																																																																																																																																																							                        -160 65z"/>
								<path d="M6274 2586 c-3 -8 2 -26 11 -40 37 -56 -6 -71 -93 -35 -34 14 -60 19
																																																																																																																																																																																							                        -78 15 -25 -7 -26 -10 -20 -48 4 -22 17 -54 30 -72 13 -17 27 -41 30 -53 l7
																																																																																																																																																																																							                        -23 -53 25 c-62 29 -71 30 -87 11 -10 -11 -5 -19 22 -40 19 -14 37 -26 40 -26
																																																																																																																																																																																							                        3 0 32 -16 64 -35 66 -40 113 -46 113 -15 0 24 -42 121 -70 160 -31 43 -25 50
																																																																																																																																																																																							                        27 34 73 -22 120 -19 139 11 19 29 13 62 -18 113 -20 33 -54 43 -64 18z"/>
								<path d="M5830 2323 c-36 -24 -39 -31 -34 -79 4 -42 34 -116 67 -165 24 -36
																																																																																																																																																																																							                        68 -54 96 -40 32 18 61 84 61 138 -1 114 -112 199 -190 146z m89 -58 c53 -27
																																																																																																																																																																																							                        66 -119 22 -159 -19 -17 -20 -16 -36 8 -42 63 -60 166 -30 166 9 0 29 -7 44
																																																																																																																																																																																							                        -15z"/>
								<path d="M5466 2127 c-17 -13 -17 -16 9 -70 19 -41 32 -57 46 -57 15 0 19 5
																																																																																																																																																																																							                        16 18 -3 9 -8 35 -12 57 -7 39 -20 65 -34 65 -4 0 -15 -6 -25 -13z"/>
								<path d="M5600 1991 c-8 -17 -5 -24 22 -44 85 -63 172 -117 188 -117 43 0 50
																																																																																																																																																																																							                        10 49 69 -1 78 -11 105 -37 109 -23 4 -27 -11 -22 -80 2 -37 -9 -35 -61 10
																																																																																																																																																																																							                        -86 74 -120 87 -139 53z"/>
								<path d="M5641 1768 c-4 -13 -11 -40 -15 -61 -7 -36 -9 -38 -34 -31 -15 4 -40
																																																																																																																																																																																							                        8 -57 8 -26 1 -30 -3 -30 -24 0 -22 6 -26 47 -33 42 -8 46 -11 45 -35 -2 -32
																																																																																																																																																																																							                        26 -41 53 -17 17 15 25 16 68 5 97 -25 170 15 159 86 -7 44 -29 69 -52 60 -13
																																																																																																																																																																																							                        -5 -15 -14 -10 -46 6 -36 4 -41 -18 -49 -23 -9 -82 -2 -106 13 -7 5 -11 31
																																																																																																																																																																																							                        -10 65 1 32 -1 63 -5 70 -11 18 -26 13 -35 -11z"/>
								<path d="M5352 1521 c-47 -45 -68 -104 -49 -131 20 -28 109 -104 150 -128 43
																																																																																																																																																																																							                        -25 85 -28 111 -9 17 13 17 16 2 61 -9 27 -21 57 -26 66 -9 17 -6 18 46 13
																																																																																																																																																																																							                        l56 -6 -4 29 c-2 24 -8 30 -38 34 -31 6 -131 56 -186 96 -20 14 -24 12 -62
																																																																																																																																																																																							                        -25z m88 -81 c12 -17 23 -37 24 -44 1 -8 7 -20 13 -27 19 -25 26 -59 11 -59
																																																																																																																																																																																							                        -15 0 -109 75 -122 97 -12 22 10 63 33 63 11 0 29 -14 41 -30z"/>
								<path d="M5285 1248 c4 -18 13 -40 20 -48 23 -29 95 -172 95 -190 0 -18 -2
																																																																																																																																																																																							                        -18 -47 -4 -27 9 -57 20 -69 25 -11 6 -40 9 -65 7 -35 -2 -44 -7 -44 -22 0
																																																																																																																																																																																							                        -25 15 -32 105 -49 41 -8 89 -20 106 -27 34 -14 79 -8 87 13 9 23 -17 100 -56
																																																																																																																																																																																							                        167 -84 144 -95 160 -118 160 -18 0 -20 -4 -14 -32z"/>
								<path d="M5045 939 c-69 -42 -54 -120 41 -211 62 -59 128 -75 152 -38 40 65
																																																																																																																																																																																							                        18 179 -44 227 -40 30 -117 41 -149 22z m126 -77 c27 -24 32 -36 33 -75 2 -73
																																																																																																																																																																																							                        -16 -79 -69 -24 -44 46 -77 104 -68 120 11 19 74 6 104 -21z"/>
								<path d="M4799 669 c-7 -14 -9 -48 -4 -103 l7 -81 -44 48 c-46 49 -54 53 -77
																																																																																																																																																																																							                        38 -16 -11 -4 -36 48 -100 109 -133 134 -141 139 -46 2 33 -2 84 -8 113 -7 30
																																																																																																																																																																																							                        -9 56 -6 60 4 3 19 -6 34 -20 33 -31 84 -58 110 -58 43 0 72 73 54 135 -6 23
																																																																																																																																																																																							                        -14 30 -33 30 -22 0 -24 -3 -21 -41 5 -65 -29 -67 -93 -7 -30 29 -68 53 -82
																																																																																																																																																																																							                        53 -7 0 -17 -9 -24 -21z"/>
								<path d="M4008 617 c-32 -76 -18 -113 23 -64 52 60 60 107 17 107 -18 0 -27
																																																																																																																																																																																							                        -10 -40 -43z"/>
								<path d="M4432 513 c-11 -16 -27 -52 -36 -80 -10 -29 -21 -53 -26 -53 -10 0
																																																																																																																																																																																							                        -20 25 -20 50 0 37 -23 71 -44 68 -23 -3 -23 -7 -11 -113 17 -149 57 -182 108
																																																																																																																																																																																							                        -90 15 28 32 69 38 93 6 23 15 45 20 47 4 3 20 -19 34 -49 53 -112 113 -119
																																																																																																																																																																																							                        157 -18 20 45 17 82 -8 82 -7 0 -20 -15 -28 -34 -8 -18 -18 -36 -24 -40 -18
																																																																																																																																																																																							                        -11 -50 28 -67 82 -27 85 -59 103 -93 55z"/>
								<path d="M4022 467 c-7 -9 -6 -42 4 -112 19 -131 29 -160 61 -174 23 -11 30
																																																																																																																																																																			                        -9 61 16 48 39 80 97 66 120 -17 27 -30 26 -67 -6 -35 -31 -35 -31 -41 -9 -3
																																																																																																																																																																			                        13 -6 46 -6 75 0 66 -16 103 -45 103 -13 0 -27 -6 -33 -13z"/>
							</g>
						</svg>
					</li>
				</div>
				<div>
					{# <li>
											<a href="">Réseau International</a>
											<ul class="sub-menu">
												<li>
													<a href="">Pays</a>
												</li>
												<li>
													<a href="">Mentors</a>
												</li>
												<li>
													<a href="">Partenaires</a>
												</li>
												<hr>
												<li>
													<a href="">Investisseurs</a>
												</li>
											</ul>
										</li> #}
					<li>
						<a href="">Nous Rejoindre</a>
						<ul class="sub-menu">
							<li>
								<a href="{{path('pages_ambassadeur')}}">Ambassadeur</a>
							</li>
							<li>
								<a href="{{path('pages_mentor')}}">Mentor</a>
							</li>
							<li>
								<a href="{{path('pages_incubateur')}}">Incubateur</a>
							</li>
							<hr>
							<li>
								<a href="{{path('pages_partenaire')}}">Partenaire</a>
							</li>
							<li>
								<a>Investisseur</a>
							</li>
							<hr>
							<li>
								<a href="{{path('pages_adherent')}}">Adhérent(e)</a>
							</li>
							<li>
								<a href="{{path('pages_benevole')}}">Bénévole</a>
							</li>
							<li>
								<a>Donateur/trice</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{path('app_login')}}">Connexion</a>
						<ul class="sub-menu">
							<li>
								<a href="{{path('app_register')}}">S'inscrire</a>
							</li>
						</ul>
					</li>
					<li class="btn-don-navbar">
						<a href="{{path('pages_dons')}}">Faire un DON</a>
					</li>
				</div>
				<div>{# <li>
																																									<a class="search-btn" href="#">
																																										<i class="fas fa-search"></i>
																																									</a>
																																									<ul class="search-box">
																																										<li><input class="search-txt" type="text" name="" placeholder="trouver..." au></li>
																																									</ul>
																																								</li> #}
					{# <li>
																																														<a>
																																															<img onclick="altFlag()" id="lang-flag" src="assets/img/svg/Flag_of_France.svg" alt="drapeau-france">
																																														</a>
																																													</li> #}
				</div>
				{# <script src="assets/js/flag-lang.js"></script> #}
			</ul>
		</nav>
	</div>
</header>
<!-- FIN HEADER / NAVBAR -->
