{% extends 'base.html.twig' %}


{% block title %}Qui sommes-nous? - Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}

	<main class="bg-about wrap-resp">

		<h1 class='title-about'>Qui sommes-nous?</h1>


		<!-- section 1 Qui sommes-nous -->
		<section class="section1-about" data-aos="fade-up" data-aos-delay="300" data-aos-duration="3000">

			<div class="cont-presentation">
				<div class="img-about">
					<img class="img-businesswomen" src="{{asset("assets/img/illustrations/diversity.jpg")}}" loading='lazy' alt="Photo de deux collégues femmes ">
				</div>

				<div class="txt-about">

					<p>
						<span class="nom-association">MAMA AFRICA INNOVATION
						</span>est un réseau international d’associations, fondations, ONG,  Start-ups, entreprises et étudiants porteurs de projet venant d' horizons différents, qui s’engagent à fédérer, promouvoir, sensibiliser et développer l’intelligence collective et le vivre ensemble tout en renforçant les compétences des entrepreneurs sociaux dans le monde entier. 
																																																																																												                
																																																																																												                Notre définition de réseau est large et couvre les organisations non gouvernementales, l’innovateur social, startup, les coalitions et les réseaux des associations, les mouvements sociaux, les organismes de volontaires, les organisations de plaidoyer, les organisations caritatives, les écoles et universités et les fondations philanthropiques. Nos membres constituent donc un groupe diversifié, couvrant un large spectre d’enjeux, de tailles et de types d’organisations.
						<br>
					</p>

				</div>
			</div>

			<div class="txt2-about">
				<h3 class="h3-about">Notre but
				</h3>
				<p>
					Fédérer, former, accompagner à l’international, sensibiliser et valoriser des entrepreneurs socio-économiques africains, européens et du monde entier, en les encourageant à travailler ensemble pour développer l’intelligence collective.
					<span class="nom-association">MAMA AFRICA INNOVATION
					</span>
					aide tous les acteurs engagés : startups, associations, entreprises, territoires, fondations dans le développement inclusif de leur impact social, environnemental  et surtout le renforcement de compétences entrepreneuriales pour développer la croissance de l’emploi et détecter des projet d’impact social.
				</p>

			</div>
		</section>
		<!--  FIN section 1 Qui sommes-nous -->

		<!-- section 2  Nos actions -->
		<section class="section2-about">
			<h3 class="h3-about">Nos actions
			</h3>


			<div class="cont-presentation2">


				<div class="txt-actions">
					<p>Nous encourageons les entrepreneurs car nous croyons que les entrepreneurs sociaux et l’intelligence collective, en travaillant ensemble, peuvent changer le monde.</p>
				</div>

				<div class="card-actions-about" data-aos="fade-down-right" data-aos-delay="300" data-aos-duration="3000">
					<h4 class="h4-about">DÉTECTER</h4>
					<i class="fas fa-clipboard"></i>
					<p class="para-card-about">Les entreprises, startups, porteurs de projets et associations à fort impact sur le territoire français, africains et du monde entier ayant un potentiel de croissance sur un marché pour les connecter avec les investisseurs.</p>
				</div>
				<div class="card-actions-about" data-aos="fade-down-left" data-aos-delay="300" data-aos-duration="3000">
					<h4 class="h4-about">ACCOMPAGNER</h4>
					<i class="fas fa-handshake"></i>
					<p class="para-card-about">Pour transformer son idée en entreprise, startup, association, grâce à notre incubateur et son réseau d’experts, mentors internationaux et partenaires financiers.</p>
				</div>
				<div class="card-actions-about" data-aos="fade-right" data-aos-delay="300" data-aos-duration="3000">
					<h4 class="h4-about">CONNECTER</h4>
					<i class="fas fa-user-friends"></i>
					<p class="para-card-about">Les différentes parties prenantes, experts, grands comptes, entrepreneurs et  institutions afin de faire émerger de nouveaux modèles de coopération. Mama africa innovation porte la voix des entrepreneurs sociaux auprès des politiques publiques, philanthropiques pour bouger les lignes et améliorer leurs conditions d’exercices.</p>
				</div>
				<div class="card-actions-about" data-aos="fade-left" data-aos-delay="300" data-aos-duration="3000">
					<h4 class="h4-about">SENSIBILISER</h4>
					<i class="fas fa-chalkboard-teacher"></i>
					<p class="para-card-about">Le grand public défavorisé et inciter aux initiatives entrepreneuriales en encourageant les jeunes et les femmes à se lancer dans l’entrepreneuriat social.</p>
				</div>
				<div class="card-actions-about" data-aos="fade-up-right" data-aos-delay="300" data-aos-duration="3000">
					<h4 class="h4-about">FORMER</h4>
					<i class="fas fa-briefcase"></i>
					<p class="para-card-about">Les jeunes à partir de 10 ans et plus à l’entrepreneuriat social et aux changements à venir et de les préparer à s’adapter à cette révolution en cours,Mama Africa Innovation a également pour but de faciliter et sécuriser l’implantation des entrepreneurs en Afrique.</p>
				</div>
				<div class="card-actions-about" data-aos="fade-up-left" data-aos-delay="300" data-aos-duration="3000">
					<h4 class="h4-about">RENDRE AUTONOME</h4>
					<i class="fas fa-dove"></i>
					<p class="para-card-about">Dans le cadre de l’émergence et du développement du continent africain, MAMA AFRICA INNOVATION est le levier principal pour faire vivre la communauté des entrepreneurs et créer les conditions de l’interconnaissance, l’ouverture vers d’autres horizons et surtout les opportunités de coopération inter-entreprises.</p>
				</div>

			</div>


		</section>
		<!-- FIN section 2  Nos actions -->

		<!-- section 3 TEAM -->

		<section class="section3-team" id="team" class="pb-5">
			<div class="container-qsn">
				<h5 class="section-title h1">NOTRE EQUIPE</h5>
				<div
					class="row">

					<!-- Team member Alain -->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">

									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Alain.jpg')}}" alt="card image">
											<h4 class="card-title">ALAIN PIUS KAYEMBE</h4>
											<p class="card-text">Fondateur/Président</p>

										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body">

											<p class="card-text-back">Informaticien d'origine, Alain KAYEMBE a créé l'Association Mama Africa en novembre 2017.
												<br>
												Soucieux de contribuer et développer l'intelligence collective en afrique et à travers le monde, ses actions visent à toucher le plus grand nombre d'acteurs et de les faire collaborer ensemble.</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/alain-kayembe-47bb31148/" target="_blank">
														<img src="{{asset('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member Alain -->

					<!-- Team member Stéphanie-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">

									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Stephanie.jpg')}}" alt="card image">
											<h4 class="card-title">STEPHANIE SABONO</h4>
											<p class="card-text">Vice-Présidente</p>

										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body">

											<p class="card-text-back">
												Stéphanie est consultante en création et développement d’entreprise et possède plusieurs années d’expérience professionnelle dans le coaching et l’accompagnement de porteurs de projets et d’entrepreneurs. Elle anime régulièrement des ateliers thématiques afin d'encourager les investissements en Afrique et à créer des richesses partagées.</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/st%C3%A9phanie-007/" target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member Stéphanie-->

					<!-- Team member Aicha-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">

									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Aicha.jpg')}}" alt="card image">
											<h4 class="card-title">AICHA NZUZI</h4>
											<p class="card-text">Secrétaire</p>

										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body">

											<p class="card-text-back back-hidden">
												Découvrez son profil linkedin
											</p>
											<ul class="list-inline">

												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/a%C3%AFcha-n-8b59a5160/" target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member Aicha -->

					<!-- Team member Afi-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">

									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{asset('assets/img/Notre-equipe/Afi.jpg')}}" alt="card image">
											<h4 class="card-title">AFI MANSUY AZANDEGBE</h4>
											<p class="card-text">Chargée de partenariat</p>

										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body">

											<p class="card-text-back back-hidden">
												Découvrez son profil linkedin
											</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href=" https://www.linkedin.com/in/afi-mansuy-azandegbe/ " target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- ./Team member Afi-->


					<!-- Team member Anita-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">

									<div class="card">
										<div class="card-body">
											<img class="img-fluid" src="{{asset('assets/img/Notre-equipe/Anita.jpg')}}" alt="card image">
											<h4 class="card-title">ANITA LOU ZENA</h4>
											<p class="card-text">Chargée de partenariat</p>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body">

											<p class="card-text-back back-hidden">
												Découvrez son profil linkedin
											</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/anitazena/" target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member Anita -->

					<!-- Team member Rama-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">

									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Rama.jpg')}}" alt="card image">
											<h4 class="card-title">RAMA CAMARA</h4>
											<p class="card-text">Chargée de projet</p>

										</div>
									</div>
								</div>


								<div class="backside">
									<div class="card">
										<div class="card-body">

											<p class="card-text-back back-hidden">
												Découvrez son profil linkedin
											</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/rama-c-72aba697/" target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- Team member Cedric-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Cedric.jpg')}}" alt="card image">
											<h4 class="card-title">CEDRIC KAMSON</h4>
											<p class="card-text">Chargé de projet innovant</p>
										</div>
									</div>
								</div>


								<div class="backside">
									<div class="card">
										<div class="card-body">
											<p class="card-text-back back-hidden">Découvrez son profil linkedin</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/gilleskamso/" target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- ./Team member Cedric -->


					<!-- Team member Talia-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Talia.jpg')}}" alt="card image">
											<h4 class="card-title">TALIA LOEMBA</h4>
											<p class="card-text">Rédacteur</p>
										</div>
									</div>
								</div>


								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<p class="card-text-back">Découvrez son profil linkedin</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/t-james-foucault-loemba-b-b5823a162/ " target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member Talia -->


					<!-- Team member Guyslain-->
					<div class="team-card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000">
						<div class="image-flip">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body">
											<img class=" img-fluid" src="{{('assets/img/Notre-equipe/Guyslain.jpg')}}" alt="card image">
											<h4 class="card-title">GUYSLAIN MASSAMBA</h4>
											<p class="card-text">Photographe/Vidéaste</p>
										</div>
									</div>
								</div>


								<div class="backside">
									<div class="card">
										<div class="card-body">
											<p class="card-text-back">Découvrez son profil linkedin.</p>
											<ul class="list-inline">
												<li class="list-inline-item">
													<a href="https://www.linkedin.com/in/guyslain-massamba-b402a7b7/" target="_blank">
														<img src="{{('assets/img/socials/linkedin.webp')}}" class="social-icon">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- ./Team member Guyslain-->
				</div>
			</div>
		</section>
		<!-- FIN TEAM -->
	</main>
{% endblock %}
