{% extends 'base.html.twig' %}

{% block title %}Equipe-Afrique- Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}

	<main class="main-equipe-afrique">
		<section class="section1">
				<div class="header">
					<h1 class="title">NOTRE EQUIPE EN AFRIQUE</h1>
				</div>
				<div class="grid-equipe-afrique">
					<div class="card">
							<div class="card-body">
								<div class="profile">
									<img src="assets/img/Notre-equipe/equipe_afrique/Aissatou_Diop.jpg">
								</div>
								<div class="card-title">
									<h4>AISSATOU DIOP</h4>
								</div>
								<div class="card-text">
									<p>Directrice Mama Africa Innovation</p>	
									<p>Sénégal</p> 
								</div>
								<div class="social">
									<a href="https://www.linkedin.com/in/aissatou-diop-92a45758/" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div> <!-- fin card-body -->						
					</div> <!-- fin card -->
					<!-- début card -->
					<div class="card">
							<div class="card-body">
								<div class="profile">
									<img src="{{asset("assets/img/Notre-equipe/equipe_afrique/Jethro_Luboya.jpg")}}">
								</div>
								<div class="card-title">
									<h4>JETHRO LUBOYA</h4>
								</div>
								<div class="card-text">
									<p>Directeur Mama Africa Innovation</p>	
									<p>République Démocratique du CONGO</p> 
								</div>
								<div class="social">
									<a href="https://www.linkedin.com/in/jethro-luboya-605692a0/" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div> <!-- fin card-body -->						
					</div> <!-- fin card -->	
					<!-- début card -->
					<div class="card">
							<div class="card-body">
								<div class="profile">
									<img src="{{asset("assets/img/Notre-equipe/equipe_afrique/Veronique_Kaboue.jpg")}}">
								</div>
								<div class="card-title">
									<h4>VERONIQUE KABOUE</h4>
								</div>
								<div class="card-text">
									<p>Chargée De Communication</p>	
									<p>République Démocratique du CONGO</p> 
								</div>
								<div class="social">
									<a href="https://www.linkedin.com/in/v%C3%A9ronique-kaboue-21a528160/" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div> <!-- fin card-body -->						
					</div> <!-- fin card -->
					<!-- début card -->
					<div class="card">
							<div class="card-body">
								<div class="profile">
									<img src="{{asset("assets/img/Notre-equipe/equipe_afrique/Winnifred_selby.jpg")}}">
								</div>
								<div class="card-title">
									<h4>WINNIFRED SELBY</h4>
								</div>
								<div class="card-text">
									<p>Directrice Mama Africa Innovation</p>	
									<p>Ghana</p> 
								</div>
								<div class="social">
									<a href="https://www.linkedin.com/in/winnifred-selby-b9529a151/" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div> <!-- fin card-body -->						
					</div> <!-- fin card -->
					<!-- début card -->
					<div class="card">
							<div class="card-body">
								<div class="profile">
									<img src="{{asset("assets/img/Notre-equipe/equipe_afrique/Mudiandambu_Didier_Kambolo.jpg")}}">
								</div>
								<div class="card-title">
									<h4>MUDIANDAMBU DIDIER KAMBOLO</h4>
								</div>
								<div class="card-text">
									<p>Directeur Mama Africa Innovation</p>	
									<p>Afrique du Sud</p> 
								</div>
								<div class="social">
									<a href="https://www.linkedin.com/in/mudiandambu-didier-kambolo-965ba03b/"  target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div> <!-- fin card-body -->						
					</div> <!-- fin card -->
					<!-- début card -->
					<div class="card">
							<div class="card-body">
								<div class="profile">
									<img src="{{asset("assets/img/Notre-equipe/equipe_afrique/Nom_Mafata.jpg")}}">
								</div>
								<div class="card-title">
									<h4>NOMA MAFATA</h4>
								</div>
								<div class="card-text">
									<p>Chargée de la Communication Mama Africa Innovation</p>	
									<p>Afrique du Sud</p> 
								</div>
								<div class="social">
									<a href="https://www.linkedin.com/in/noma-mafata-8abb53195/"  target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div> <!-- fin card-body -->						
					</div> <!-- fin card -->		
				</div> <!-- Fin GRID -->
		</section>
	</main>
{% endblock %}
