{% extends 'base.html.twig' %}


{% block title %}Evenements - Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}

    <main class="bg-evenement">
    <h1 class="titre-evenements">Les actions menées par Mama Africa Innovation</h1>



    <section class="section-detecter">
        <h2>DETECTER</h2>
            <h3>Petit déjeuner d'affaires</h3>
                <div class="detecter-content">
                    <figure>
                        <img src="{{asset('assets/img/actions/petit_dejeuner.jpg')}}" loading="lazy" alt="Image d'un groupe présentant une banderole après un petit déjeuner d'affaires">
                        <figcaption>Partenariat avec l’IFFED le 17 mars 2018 à Goma, chef-lieu de la province du Nord Kivu en République du Congo.</figcaption>
                    </figure>

                     
                   <p> Lors de ce partenariat, étaient conviés des responsables d’organisations des jeunes évoluant dans le secteur de l'entrepreneuriat. 
                    Cette rencontre fût organisée dans le souci de fédérer les initiatives, de promouvoir et développer la culture de l’entrepreneuriat au sein de la jeunesse africaine. Comme thème, la promotion et le développement des jeunes en République Démocratique du Congo. De nouvelles perspectives à l'horizon 2020 ont été mises en place. Après cette réussite nous sommes appelés à organiser la première édition du salon des pays des grands lacs. </p>
                  
                    
                </div>
    </section>


       <section class="section-accompagner">

            <h2>ACCOMPAGNER</h2>
                <h3> Accompagnement d'un projet d'implantation en RDC KINSHASA, le 25 janvier 2020</h3>
                
               
                        <div class="template-accompagner">
                            <img class="img-accompagner" src="{{asset('assets/img/actions/projet_make_up.jpg')}}" loading="lazy" alt="Photo d'une maquilleuse et de son modèle"> 
                            <img class="img-accompagner" src="{{asset('assets/img/actions/groupe_make_up.jpg')}}" loading="lazy" alt="Photo d'un groupe de maquilleurs">      
                            <img class="img-accompagner" src="{{asset('assets/img/actions/make_up.jpg')}}" loading="lazy" alt="Photo de produits de maquillage disposés sur une table"> 
                            <img class="img-accompagner" src="{{asset('assets/img/actions/maquilleuse.jpg')}}" loading="lazy" alt="Photo d'une maquilleuse mettant du rouge à lèvres à son modèle">  
                        </div>
                    
                     
                    <p>Nous avons accompagné et facilité l'implantation et l’organisation de la Master class une jeune française pour son entreprise Make-up à Kinshasa et à Gombe dans un délai très courts. </p>
                        
        </section>


         <section class="section-connecter">
       
            <h2>CONNECTER</h2>
               

              <p> Nous avons fait la mise en relation entre la Start-up QUEOPE Paris et l’entreprise Tic-tac Mobile Service Lubumbashi (secteur touristique) ils ont réalisé le projet School Tourism Week : « comment développer l’éducation et la culture du tourisme dans la pensée de l’écolier ? </p>

            <img src="{{asset('assets/img/actions/queope.jpg')}}" loading="lazy" alt="Photo d'un groupe de jeunes">
               
                   
        </section>

         <section class="section-parrainer">
       
            <h2>PARRAINER DES EVENEMENTS INTERNATIONAUX</h2>
            <h3>Congrès mondial des ambassadeurs du développement</h3>

            <p>Du 21 au 25 mars Mama Africa Innovation avait l’honneur d’être parrain de la 9ème édition du Congrès mondial des ambassadeurs du développement (CMAD), qui se tenait à Lomé, capitale du Togo. </p>
            <p style="font-weight: bold">Thème : " Réveillons le génie africain pour tutoyer la grandeur ".</p>
            <img src="{{asset('assets/img/actions/flyer_congres.png')}}" loading="lazy" alt="Flyer du congrès mondial des ambassadeurs">

            
          
           
            

        </section>       
        
       <section class="section-education">
       
            <h2>FACILITER L'EDUCATION DANS LES VILLAGES</h2>
                <h3>Projet de réhabilitation de l'école du village Sipho, Afrique du Sud, juin 2018</h3>

                
            <p> Nous avons accompagné la fondation Florence et l'association Donia pour reconstruire l'école du village de Kwabanoyien, en Afrique du sud, par la communication pour récolter les fonds.  </p>

            <div class="sipho">
            <img src="{{asset('assets/img/actions/projet_Sipho1.jpg')}}" loading="lazy" alt="Photo d'une école dans le village de Sipho, Afrique du Sud">
            <img src="{{asset('assets/img/actions/projet_Sipho2.jpg')}}" loading="lazy" alt="Photo d'écoliers ">
            </div>
               
                   
        </section>


        <section class="section-autonomisation">

            <h2>FAVORISER L'AUTONOMISATION DES FEMMES</h2>
                <h3>Construction de 3 fours à pain et de 2 maisons en terre battue, à Isiro, RDC </h3>

                
             <p> Nous sommes allés à Isiro, province de haut Uele en RDC, pour suivre et financer trois projets portés par deux jeunes mères et un jeune garçon. </p>
             <p> Ces jeunes ont été formés au métier de boulanger pendant plus de 4 ans par les pères Consolata, dans leur programme de prise en charge des jeunes vulnérables. A travers sa délégation en séjour à Isiro, Mama Africa innovation a participé à la construction de trois fours artisanaux pour la fabrication des pains et contribué à la construction de deux maisons en terre battue afin de réaliser ce projet vital pour la population rurale.</p>
             
            <div class="flex-img2">
             <img src="{{asset('assets/img/actions/femme_four_a_pain.jpg')}}" loading="lazy" alt="Photo d'une femme utilisant un four à pain">
            <img src="{{asset('assets/img/actions/femme_pain.jpg')}}" loading="lazy" alt="Photo d'une femme présentant du pain cuit ">
            <img src="{{asset('assets/img/actions/homme_four.jpg')}}" loading="lazy" alt="Photo d'un homme devant un four à pain ">
            <img src="{{asset('assets/img/actions/femme_enfant_four.jpg')}}" loading="lazy" alt="Photo d'une femme et de son bébé devant un four à pain ">
            <img src="{{asset('assets/img/actions/maison_en_terre1.jpg')}}" loading="lazy" alt="Photo d'une maison en terre ">
            <img src="{{asset('assets/img/actions/maison_en_terre2.jpg')}}" loading="lazy" alt="Photo de trois personnes devant une maison en terre ">
            </div>
                   
        </section>

        	
       
           

         <section class="section-solidarite">
            <h2>ENCOURAGER LA SOLIDARITE</h2>
                <h3> Partage d'un repas de coeur à Isiro, province du haut Uele en RDC </h3>

                <img src="{{asset('assets/img/actions/pesee.jpg')}}" loading="lazy" alt="Photo d'une pesée d'un bébé africain ">
                <img src="{{asset('assets/img/actions/enfants_pain.jpg')}}" loading="lazy" alt="Photo de jeunes enfants africains et d'assiettes de pain ">
         
         </section>


         
        <section class="section-coaching">

            <h2>COACHER LES ENTREPRISES AFRICAINES</h2>
                   <h3> Seminaire de coaching africain, 13 juillet 2019, Paris</h3>

            <p>L’évènement co-organisé par Mama Africa innovation et la FIAD Europe a connu un vif succès </p>
             <p style="font-weight: bold">Thème : la Puissance de la parole thérapeutique.
            </p>

             <img src="{{asset('assets/img/actions/coaching.jpg')}}" loading="lazy" alt="Flyer du séminaire de coaching">              
   
                   
        </section>

        
        	

        <section class="section-coworking">
            <h2>CREER DES ESPACES DE TRAVAIL ADAPTES </h2>
                <h3> Espace coworking a Kinshasa, 20 Juin 2020</h3>
                <p>
                Nous avons mis en place l’espace Coworking à Kinshasa Gombe.
                Aujourd’hui 62% des membres de la diaspora veulent entreprendre en Afrique mais il manque des bureaux adaptés.  
                </p>
            
            <div class="template-coworking">
                <img src="{{asset('assets/img/actions/femme_bureau.jpg')}}" loading="lazy" alt="Photo d'une femme dans son bureau"> 
                <img src="{{asset('assets/img/actions/bureaux.jpg')}}" loading="lazy" alt="Photo d'un esapce de coworking">  
            </div>    
                          
        </section>

     


        
        
        <section class="section-women">
            <h2>ENCOURAGER L'ENTREPRENARIAT FEMININ</h2>
                <h3>Programme "Empowering women of the 21 century"</h3>
                <p>En juillet 2020 nous avons lancé le programme "Empowering Women Of the 21 Century" dont le but est de mettre en avant l’innovation sociale, scientifique et technique portée par les femmes créatives et audacieuses et inspirer des milliers de femmes à croire en leurs capacités via nos grands évènements de rencontres numériques avec des personnalités emblématiques. 
                </p>

               <p style="font-weight: bold ;margin-top: 3rem" >Première Master class : thème « Comment saisir les opportunités pour créer son entreprise en période de crise? » en raison de la demande de nos adhérents et la crise du covid-19 </p>
                <figure>
                    <img  class="first-flyer" src="{{asset('assets/img/actions/flyer_MasterClass.jpg')}}" loading="lazy" alt="Flyer de l'évènement Master Class">     
                    <figcaption>Notre Premier Invite Gabriel Zagabe zael Fondateur et actuel PDG de ZAEL Group Int’l. </figcaption>  
                </figure>

              <p style="font-weight: bold ;margin-top: 3rem" >Deuxième Master class : notre deuxième invitée est Winnifred Selby, fondatrice de WINNIE WOMEN WORLD INITIATIVE,Ghana. </p>

                 <img class="winnie-picture" src="{{asset('assets/img/actions/Winnifred.jpg')}}" loading="lazy" alt="Photo de Winnifred Selby recevant un prix"> 


            <p style="font-weight: bold ;margin-top: 3rem" >Troisième Master class : notre troisième invitée est Lahou KEITA,co-fondatrice de Keitas Systems, une plateforme de collaboration MRO pour relier les organismes de maintenance et de réparation avec les compagnies aériennes et les exploitants d'aéronefs. </p>
              <img class="Lahou-picture" src="{{asset('assets/img/actions/Lahou_Keita_helicoptere.jpg')}}" loading="lazy" alt="Photo de Lahou Keita dans un helicoptère"> 
            <p class="para-lahou-actions"> Le premier hub aéronautique au monde à l’échelle d’un pays fait partie des nombreuses réalisations de Keitas Systems. Dénommé hub canada, ce hub aéronautique lutte contre la pénurie de main-d’œuvre des personnels techniques. Le tempeus, un outil pionnier au monde qui facilite le suivi de maintenance lorsque l’avion est en chantier demeure une invention de Lahou Keita.
            Lahou Keita est un membre de l'Organization of Black Aerospace Professionals et la Marraine de Mama Africa Innovation.</p>


            <p style="font-weight: bold ;margin-top: 3rem" >Quatrième Master class : notre quatrième invitée est Abam MAMBO DOH, directrice senior juridique de Microsoft dans toute l’Asie, en charge des enquêtes sur les lieux de travail.
            Dans cette MASTER CLASS accordée à MAMA AFRICA INNOVATION elle revient notamment sur son parcours et le travail accompli jusque-là ainsi que sur sa conception du leadership et comment elle l'incarne dans son activité professionnelle. </p>
                    
                    <img class="Abam-picture" src="{{asset('assets/img/actions/Abam_Mambo.jpg')}}" loading="lazy" alt="Photo de Abam Mambo"> 

             <p style="font-weight: bold ;margin-top: 3rem" >Cinquième Master class : notre cinquième invitée est Jennifer OGHENEWAIRE NIKORO, juriste et membre du barreau Nigérian. Sa fondation Life beyond Disability aide à créer une communauté de personnes handicapées qui choisissent d'être et d'exister, au-delà du regard porté par la société et malgré leurs handicaps. </p>

                    <img class="Jennifer-picture" src="{{asset('assets/img/actions/Jennifer.jpg')}}" loading="lazy" alt="Photo de Jennifer OGHENEWAIRE NIKORO  "> 
                          
        </section>
            
    </main>
{% endblock %}
